MONGODB_URI=mongodb+srv://<user>:<databaseHost>/<database>?retryWrites=true&w=majority
enviroment=production

JWT_SECRET=your-secret
PORT=3000

PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=smartlock


MQTT_HOST=mqttHost
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_USERNAME=mqtt
MQTT_PASSWORD=mqtt_pass
